@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

html,
body {
  /* overflow: auto;  - REMOVED to fix sticky header */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
